<<<<<<< HEAD
﻿@model Vidly.ViewModels.RandomMovieViewModel

=======
﻿@model Vidly.Models.Movie
>>>>>>> 9029b8f69c47c20ec890eaa78ea63837408d5c2d
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<<<<<< HEAD
@{ 
    var className = Model.Customers.Count > 0 ? "popular" : null;
}

<h2 class="@className">@Model.Movie.Name</h2>


@if (Model.Customers.Count == 0)
{
    <text>No one has rented this movie before</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@customer.Name</li>
        }
    </ul>

}
=======
<h2>@Model.Name</h2>
>>>>>>> 9029b8f69c47c20ec890eaa78ea63837408d5c2d

